body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

a,
a:hover,
a:focus {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

h2 {
  color: #323336;
  margin-top: 30px;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.header {
  background: #2f3249 url(../images/header.jpg) 50% 0 no-repeat;
  color: #fff;
  1height: 750px;
}

.navbar {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .15);
          box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .15);
  margin-bottom: 0;
}

.navbar-header {
  padding: 25px 0;
}

.navbar-toggle {
  margin-right: -10px;
}

.navbar-collapse,
.navbar-brand,
.menu > li > a  {
  padding-right: 0;
  padding-left: 0;
}

.menu {
  font-size: 13px;
  font-weight: 600;
  margin-right: 0;
  margin-left: 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .menu {
    padding: 25px 0;
  }
  .menu > li {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .menu > li {
    padding-left: 60px;
  }
}

.menu > li > a:hover,
.menu > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}

.header-title {
  font-size: 16px;
  padding: 75px 0;
}

.button {
  background-color: #c94747;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-top: 25px;
  padding: 13px 50px;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
}

@media (min-width: 768px) {
  h1 {
    font-size: 38px;
  }
  .header-title {
    font-size: 18px;
    padding: 100px 55px;
  }
  .button {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 46px;
  }
  .header-title {
    font-size: 20px;
    padding: 125px 90px;
  }
  .button {
    margin-top: 55px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 65px;
  }
  .header-title {
    font-size: 22px;
    padding: 150px 125px;
  }
  .button {
    margin-top: 75px;
  }
}

.features {
  color: #6d7178;
  padding: 35px 0;
}

@media (min-width: 992px) {
  .features {
    padding: 85px 0;
  }
}

.feature {
  padding: 35px 45px;
}

.works {
  margin-left: -1px;
}

.work {
  padding: 0 0 1px 1px;
}

.work a {
  display: block;
  position: relative;
}

.work img {
  display: block;
  max-width: auto;
  height: auto;
  width: 100%;
}

.work-hover {
  background-color: rgba(201, 71, 71, .9);
  height: 100%;
  opacity: 0;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
  width: 100%;
}

.work a:hover  .work-hover {
  opacity: 1;
}

.work-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
}

.footer {
  background-color: #3e4063;
}

.contacts {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 70px;
}

.contacts p {
  opacity: .5;
}

.social {
  background: url(../images/social.png) 0 0 no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  display: inline-block;
  height: 40px;
  margin: 0 2px;
  width: 40px;
}

.social-tw {
  background-position: 0 -36px;
}

.social-in {
  background-position: 0 -72px;
}

.copyright {
  background-color: #353754;
  color: #808080;
  padding: 25px 15px;
}